/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2016, 15.23.34
    Author     : Sara Flore
*/

body
{
    background-color: mistyrose;
    font-family: "Times New Roman", Georgia, serif; 
}

p
{
    font-size:18px;
    font-style:italic;
    color:black;
}

h1
{
    font-size: 40px;
    font-weight:bolder;
    color:darkmagenta;
    text-align:center;
    
}

h2
{
    font-size: 25px;
    font-weight:bolder;
    color: darkorchid;
}

h3
{
    font-size: 20px;
    font-weight:bolder;
    color: deeppink;
}
/*Link non visitato*/
a:link
{
    color: navy;
    test-decoration:none;
}
/*Link visitato*/
a:visited
{
    color: indigo;
    test-decoration:none;
}
/*Link quando il puntatore è sopra*/
a:hover
{
    color: blue;
    test-decoration: underline;
    background-color:highlight;
}
/*Link quando viene cliccato*/
a:activate
{
    color: blue;
    test-decoration: underline;
}

/*Proprietà per l'intestazione della tabella'*/
th
{
    font-style: bold;
    font-size:20px;
    color: mediumvioletred;
    background-color: pink;
}

td
{
    font-style: italic;
    font-size:17px;
}
/*Utilizzo un colore di sfondo diverso per righe pari e dispari*/
tr:nth-child(even)
{
    background-color: peachpuff;
}

tr:nth-child(odd)
{
    background-color: bisque;
}
/*Dimensionamento righe e colonne*/
td, th
{
    padding:20px;
    text-align: center;
}

table
{
    margin:auto;
    border-collapse:collapse;
    border-style: solid;
    border-color: hotpink;
}
/*Visualizzazione campi di input e textarea dei form*/
form 
{
    padding-left:100px;
    font-size: 18px;
}
input 
{
    height: 30px;
    width: 30%;
}
input, textarea 
{
    border: 2px solid;
    border-color:hotpink;
    border-radius: 4px;
    margin-top: 15px;
}
/*Posizionamento delle labels e dei campi di input*/
label::after, label::before
{
    content:'\A';
    white-space:pre;
}
/*Visualizzazione campi di input e textarea con il focus*/
textarea:focus, input:focus  
{
    border: 2px solid;
    border-color: mediumorchid;
    background-color: bisque;
}
/*Visualizzazione dei pulsanti*/
.button
{
    background-color: darkmagenta;
    color: white;
    font-size:16px;
    padding:10px 18px;
    margin: 30px 3px;
    height: 50px;
    width: 120px;
}